
MTA_Subway_Hourly_Ridership__Beginning_July_2020.csv
Sample Data with Two Stations.csv.xlsx
Sample Data with Two Stations.xlsx
GetThatData.py
average_ridership_521.csv
average_ridership_per_hour_5524.csv
average_ridership_per_hour_5732.csv
average_ridership_per_hour_6068.csv
average_ridership_per_hour_6169.csv
average_ridership_per_hour_7009.csv
average_ridership_per_hour_7707.csv
average_ridership_per_hour_station.csv
average_ridership_per_hour_station_1827.csv
average_ridership_per_hour_station_2146.csv
average_ridership_per_hour_station_3906.csv
average_ridership_per_hour_station_4105.csv
average_ridership_per_hour_station_8133.csv
average_ridership_per_hour_station_8614.csv
average_ridership.csv
config.ini
average_ridership_116.csv
average_ridership_236.csv
average_ridership_443.csv
average_ridership_901.csv
average_ridership_per_hour_station.csv
Filtered_Station_Data_gunhill_first_few_months.csv
GetTwoTrainStationsFromtheCSV
MTA Ridership Data_02-06-2025_18-21-22.csv
MTA_Data_Analysis02-06-2025_00-12-43.csv
MTA_Ridership_Data_02-06-2025_21-51-02.csv
MTA_Ridership_Data_02-07-2025_23-25-21.csv
output_data_02-05-2025_23-25-21.csv
output_data_02-06-2025_00-09-31.csv
average_ridership_236.csv
average_ridership_per_hour_station.csv
data.csv
Filtered_Station_Data.csv
average_ridership_236.csv
average_ridership_per_hour_station.csv
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
avg_ridership_2023.csv
avg_ridership_2024.csv
avg_ridership_per_hour.csv
avg_ridership_per_hour.xlsx
first_month1.xlsx
MTA_Station_List.csv
New Microsoft Excel Worksheet.xlsx
Source/Data/Raw/MTA_Ridership_Data_02-07-2025_23-25-21OLD.csv
Source/Data/Raw/MTA_Subway_Hourly_Ridership__2020-2024.csv
Source/Data/Raw/MTASubwayHourlyRidership20202024OLD.csv
Source/Data_scripts/Charts/In_Excel_format/MTA_Ridership_Data_02-26-2025_22-12-49.csv
Source/Data_scripts/Charts/In_Excel_format/MTA_Ridership_Data_02-26-2025_02-01-44.csv
Source/Data/reports/~$Seasonal_Ridership_Data_by_Station_March 03, 2025 09-53 PM.xlsx
Source/Data/reports/~$Seasonal_Ridership_Data_by_Station_March 03, 2025 09-34 PM.xlsx
Source/Data/reports/~$MTA_Station_Ridership_Yearly_Analysis_For_2023_and_2024March 03, 2025 07-02 PM.xlsx
Source/Data/reports/~$MTA_Station_Ridership_Yearly_Analysis_For_2023_and_2024March 03, 2025 01-40 AM.xlsx
Source/Data/reports/~$MTA_Ridership_3_2023.pptx
Source/Data/reports/~$Average Daily Subway Ridership by Day of Week_For_2023_and_2024March 04, 2025 12-05 AM.pptx
Source/Data/reports/~$Average Daily Subway Ridership by Day of Week_For_2023_and_2024March 03, 2025 11-56 PM.pptx
Source/Data/reports/top_10_ridership_chart.png
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 03, 2025 12-54 AM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 03, 2025 12-49 AM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 03, 2025 12-34 AM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 03, 2025 09-53 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 03, 2025 09-34 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 03, 2025 09-29 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 03, 2025 07-11 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 03, 2025 01-05 AM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 03, 2025 01-02 AM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 02, 2025 10-51 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 02, 2025 10-38 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 02, 2025 10-33 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 02, 2025 10-30 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 02, 2025 10-26 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 02, 2025 10-23 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 02, 2025 10-19 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 02, 2025 10-00 PM.xlsx
Source/Data/reports/Seasonal_Ridership_Data_by_Station_March 01, 2025 02-32 AM.xlsx
Source/Data/reports/ridership_chart_2024.png
Source/Data/reports/ridership_chart_2023.png
Source/Data/reports/MTA_Station_Ridership_Yearly_Analysis_For_2023_and_2024March 03, 2025 07-02 PM.xlsx
Source/Data/reports/MTA_Station_Ridership_Yearly_Analysis_For_2023_and_2024March 03, 2025 01-40 AM.xlsx
Source/Data/reports/MTA_Ridership_9_2023.pptx
Source/Data/reports/MTA_Ridership_8_2023.pptx
Source/Data/reports/MTA_Ridership_7_2023.pptx
Source/Data/reports/MTA_Ridership_6_2023.pptx
Source/Data/reports/MTA_Ridership_5_2023.pptx
Source/Data/reports/MTA_Ridership_4_2023.pptx
Source/Data/reports/MTA_Ridership_3_2023.pptx
Source/Data/reports/MTA_Ridership_2_2023.pptx
Source/Data/reports/MTA_Ridership_1_2023.pptx
Source/Data/reports/MTA_Ridership_12_2023.pptx
Source/Data/reports/MTA_Ridership_11_2023.pptx
Source/Data/reports/MTA_Ridership_10_2023.pptx
Source/Data/reports/avg_ridership_2023Made_On_February 28, 2025 11-48 PM.xlsx
Source/Data/reports/Average Daily Subway Ridership by Day of Week_For_2023_and_2024March 04, 2025 12-10 AM.pptx
Source/Data/reports/Average Daily Subway Ridership by Day of Week_For_2023_and_2024March 04, 2025 12-05 AM.pptx
Source/Data/reports/Average Daily Subway Ridership by Day of Week_For_2023_and_2024March 03, 2025 11-56 PM.pptx
Source/Data/processed/MTA_Subway_Ridership_Weekday_Stats_average_March 04, 2025 12-10 AM.xlsx
Source/Data/processed/MTA_Subway_Ridership_Weekday_Stats_average_March 04, 2025 12-05 AM.xlsx
Source/Data/processed/MTA_Subway_Ridership_Weekday_Stats_average_March 03, 2025 11-56 PM.xlsx
Source/Data/reports/top_10_ridership_chart.png
Source/Data/reports/MTA_Ridership_9_2023.pptx
Source/Data/reports/MTA_Ridership_8_2023.pptx
Source/Data/reports/MTA_Ridership_7_2023.pptx
Source/Data/reports/MTA_Ridership_6_2023.pptx
Source/Data/reports/MTA_Ridership_5_2023.pptx
Source/Data/reports/MTA_Ridership_4_2023.pptx
Source/Data/reports/MTA_Ridership_3_2023.pptx
Source/Data/reports/MTA_Ridership_2_2023.pptx
Source/Data/reports/MTA_Ridership_1_2023.pptx
Source/Data/reports/MTA_Ridership_12_2023.pptx
Source/Data/reports/MTA_Ridership_11_2023.pptx
Source/Data/reports/MTA_Ridership_10_2023.pptx
