
MTA_Subway_Hourly_Ridership__Beginning_July_2020.csv
Sample Data with Two Stations.csv.xlsx
Sample Data with Two Stations.xlsx
GetThatData.py
average_ridership_521.csv
average_ridership_per_hour_5524.csv
average_ridership_per_hour_5732.csv
average_ridership_per_hour_6068.csv
average_ridership_per_hour_6169.csv
average_ridership_per_hour_7009.csv
average_ridership_per_hour_7707.csv
average_ridership_per_hour_station.csv
average_ridership_per_hour_station_1827.csv
average_ridership_per_hour_station_2146.csv
average_ridership_per_hour_station_3906.csv
average_ridership_per_hour_station_4105.csv
average_ridership_per_hour_station_8133.csv
average_ridership_per_hour_station_8614.csv
average_ridership.csv
